.idea

client/node_modules
client/yarn-error.log
client/.nuxt
client/dist
client/.env

api/dist
api/node_modules
api/storage/logs/access.log
api/.env
api/yarn-error.log

docker/logs/
docker/data/

docker-compose.yml
